@model CDCollectionApp.Models.CD

@{
    ViewData["Title"] = "Detaljer";
    var num = 0;
}

<h1>Information</h1>

<div>
    <h4>CD</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Namn
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Utgiven
        </dt>
        <dd class="col-sm-10">

            @ViewData["Date"]


        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Available)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw((Model.Available) ? "Ja" : "Utlånad")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tracks)
        </dt>
        <dd class="col-sm-10">

            @foreach (var test in Model.Tracks)
            {

                num++;
                <p>@num.  @test.Name</p>
            }



        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CDId">Ändra</a> |
    <a asp-action="Index">Tillbaka till lista</a>
</div>